In [1]:
#string and predefine methods  # strings are immutable

In [2]:
a= 'This is my python class'
type(a)

str

In [3]:
#when function is defined inside the class it is 
#called as methos because of reasons like local and global scope.

In [4]:
#local scope - 
#global scope -

In [5]:
#function can be called any where ,
#but method have contraints like it limited to having scope of class

In [6]:
a.title() # here resultant string will be assigned to a new memory location and 
#string variable 'a' will not be modified

'This Is My Python Class'

In [7]:
b=a.title()
print(b)
id(b)     #prints is an integer representing the address,
#not the actual hexadecimal address. To print the real memory 
#location of a variable in hexadecimal format, you can convert the 
#value returned by id() to a hexadecimal string.

This Is My Python Class

2259052621184

In [8]:
print(a)
id(a)

This is my python class

2259052612624

In [9]:
a.capitalize()

'This is my python class'

In [10]:
a.upper()

'THIS IS MY PYTHON CLASS'

In [11]:
a.lower()

'this is my python class'

In [13]:
swapres = a.swapcase() # swap upper case to lower and lower case to upper
swapres

'tHIS IS MY PYTHON CLASS'

In [18]:
#casefold function converts upper case to lower case
# but one difference is there , different 
a ='Straße'
fold = a.casefold() # casefold is used to lower Ascii and 
#non Ascii special charecter
print(fold)
a.lower() # will conver only Ascii characters

strasse

'straße'

In [22]:
print(a.count('S'))
print(a.count('s'))
print(a.count('z'))
print("But has extensive libraries".count('s'))

1
0
0
3

In [24]:
a = 'python'
b = 'python'
print(a is b) # this is not same because 
#For strings, Python uses a mechanism called interning for optimization 
#purposes. Interning means that some strings that are considered "simple" and 
#"safe" are stored in a common pool 
#to save memory and allow fast comparisons

True

In [27]:
a = 'Straße'
b = 'Straße'
print(a is b)
#However, not all strings are interned, especially those containing 
#special characters or those created dynamically.
#The string 'Straße' contains a special character (ß), which may prevent 
#it from being interned. Therefore, a and b may be different objects 
#in memory even though they have the same value

False

In [28]:
a = 'python'
b = a.casefold()
print(a is b)

False

In [57]:
a = 'The python is like an ocean and I am learning it'
print(a.count('a',27,-1 ))
print(a.count('a',27, 40 ))   #total 'a' is 4 in the string

3
3

In [58]:
print(a.count('a',34)) #going to start from 34th charcter to end of string

1

In [55]:
print(a.count('a',-15,-1)) # starts from -15 to -1 , string always traverse 
#in +ve direction, means right to left not L-R

2

In [59]:
a.index('a') # returns first occurance of charcter.

19

In [66]:
a.index('a',30)

33

In [65]:
a.index('a',36,-1)

38

In [67]:
a.index('a',-15,-1)

33

In [69]:
a.index('a',34,38) # 'a' is not found in between 34 to 37

ValueError: substring not found

In [70]:
a.count('a',34,38) # checks from 34 to 38

0

In [72]:
print(a.index('a'))
a.find('a')

19

19

In [74]:
print(a.find('z')) # if string is not found , return -1
print(a.index('z'))# if string not found throws error

-1

ValueError: substring not found

In [75]:
print(a.rfind('a')) # it gives indexing from right to left

38

In [78]:
print(a.rfind('a',15,34))
print(a.find('a',15,34))

33
19

In [79]:
print(a.rfind('a',34,36)) # if string not founf it return -1

-1

In [80]:
print(a.split())# breaks the string where space is present in the string

['The', 'python', 'is', 'like', 'a', 'ocean', 'and', 'I', 'am', 'learning', 'it']

In [81]:
b = 'May-your-day-be-luckiest'
print(b.split('-')) #split string where the - is present.

['May', 'your', 'day', 'be', 'luckiest']

In [84]:
c ='cross-function'.split('-')
print(type(c) , c)  # input is string and returns list

<class 'list'> ['cross', 'function']

In [85]:
d = '@'.join(c)
print(d) #now d is string , takes list as input.

cross@function

In [86]:
a ='$156e$'
print(a.strip('$'))

156e

In [87]:
b ='$156e$$$$'
print(b.strip('$'))

156e

In [88]:
c = '$15$e5$fg' #middle string will ot be removed
print(c.strip('$'))

15$e5$fg

In [89]:
#remove only Left hand side
a ='$156e$'
print(a.lstrip('$'))

156e$

In [90]:
#remove only right hand side
a ='$156e$'
print(a.rstrip('$'))

$156e

In [ ]:
a = "python"
#output = 'python++'
#syntax : var_name.ljust( length_of_resultant_string, 'character')
# syntax2 : var_name.ljust(len(str)+ number of character i want to add,'character')

In [91]:
print(a.ljust(8, '+')) # 8 means total length of string

$156e$++

In [92]:
print(a.ljust(len(a)+2, '+'))

$156e$++

In [95]:
print(a.ljust(6, '+'))

$156e$

In [96]:
print(a.rjust(8,'-'))

--$156e$

In [97]:
print(a.rjust(len(a)+0, '-'))

$156e$

In [100]:
print(a.center(10,'+')) # + symbol spreads evenly since size 10 is perfect fit

++$156e$++

In [104]:
a= '12345'
print(a.center(9,'+'))# if the length of the string odd and length given odd
#string + gets evenly distributed  2+ 5 +2

++12345++

In [106]:
print(a.center(8,'+'))# if the string length is odd(5) and length is 5+3 = 8
# preference given to right hand side, centre string takes 5, net 2 print
#on right side and then last 1 string get printed on Left. 1+5+2

+12345++

In [107]:
a ='1234' # if string is even
print(a.center(9,'+')) # preference given to left side, 4 + 5 = 3 + 4 +2

+++1234++

In [108]:
a ='1234' # if string is even
print(a.center(12,'+')) # preference given to equal side, 4 + 8 = 4 + 4 + 4

++++1234++++

In [109]:
print(a.center(8,'+-'))

TypeError: The fill character must be exactly one character long

In [113]:
print(('Data'.center(8,' ')).replace(' ','+',2).replace(' ','-'))

++Data--

In [116]:
print(('Data'.rjust(6,'+')).ljust(6+2,'-'))

++Data--

In [117]:
a = 'abc drg5'    # because of space it is returning false
print(a.isalnum())

False

In [119]:
a = 'abcDrg5'    # because of space it is returning false
print(a.isalnum())

True

In [120]:
a = 'abCd4'
print(a.isalpha())

False

In [121]:
a = 'abCd'
print(a.isalpha())

True

In [123]:
a ='ABCD'
print(a.isupper())
print('ABCD'.islower())

True
False

In [133]:
a = 'The Apple'   
print(a.istitle())
print(" ".isspace())# only \n, \t, \v, \r space character are allowed
print("The Apple".isspace())
print("\n".isspace())

True
True
False
True

In [136]:
a = 'The data science'
print(a.startswith('T'))
print(a.startswith('The'))
print(a.startswith('The data science'))

True
True
True

In [137]:
print(a.endswith('ce'))

True